name: Auto Commit

on:
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Make 100 commits
        run: |
          git config --local user.email "fcfaisal51@gmail.com"
          git config --local user.name "Faishal"

          echo "Manual trigger: Performing 100 commits"
          for i in {1..100}
          do
            echo "Manual boost commit $i: $(date)" >> last_commit.txt
            git add last_commit.txt
            git commit --author="Faishal <fcfaisal51@gmail.com>" -m "Manual boost commit $i: $(date)"
          done

      - name: Push changes
        run: |
          git push
